.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainLayout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.scrollable {
  overflow: auto;
  flex-grow: 1;
}
