.title {
  font-size: 30px;
}

.centeredContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.titleSelect {
  font-size: 25px;
  color: inherit;
}

.arrow {
  width: 35px;
  color: inherit;
  margin-bottom: -4px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.unselectedContainer {
  position: absolute;
  left: 20px;
  top: calc(10vh + 10px);
  color: #808080;
}

.margin {
  margin-top: 10vh;
  margin-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
}

.projectName {
  margin-top: 4px;
}

.issuesScanned {
  margin-top: 4px;
  font-size: 14px;
  color: #70757a;
  width: 100%;
}
