.frame {
  position: relative;
  padding: 4px 0px 0px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  vertical-align: middle;
  color: #24292e;
  fill: #24292e;
}

.title {
  vertical-align: middle;
  cursor: pointer;
  font-weight: bold;
}

.content {
  will-change: transform, opacity, height;
  margin-left: 6px;
  padding: 0px 0px 0px 14px;
  border-left: 1px solid #e3e3e3;
  overflow: hidden;
}

.container {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 40px;
  overflow: hidden;
  line-height: 35px;
  --webkit-user-select: none;
  user-select: none;
  font-size: 25px;
  border-right: 1px solid #e3e3e3;
  font-family: var(--mono-font);
}

.treeLink {
  display: block;
  font-size: 15px;
  line-height: 1.15;
  padding-top: 10px;
  transition: color 0.15s;
}

.treeLink:hover {
  color: #636363;
}

.titleWhole {
  cursor: pointer;
}

.githubLink {
  font-family: var(--serif-font);
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  bottom: 20px;
  right: 40px;
}

.logo {
  width: 23px;
  height: auto;
  margin-bottom: -5px;
  stroke-width: 2px;
}
