.frame {
  position: relative;
  padding: 4px 0px 0px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  vertical-align: middle;
  color: #24292e;
  fill: #24292e;
  margin-bottom: 10px;
}

.title {
  vertical-align: middle;
  cursor: pointer;
  font-weight: bold;
}

.content {
  will-change: transform, opacity, height;
  margin-left: 6px;
  padding: 0px 0px 0px 14px;
  border-left: 1px solid #e3e3e3;
  overflow: hidden;
}

.container {
  z-index: 10;
  background-color: white;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 40px;
  overflow: hidden;
  line-height: 35px;
  --webkit-user-select: none;
  user-select: none;
  font-size: 25px;
  border-right: 1px solid #e3e3e3;
  font-family: var(--mono-font);
  flex-shrink: 0;
}

@media (max-width: 1350px) {
  .container {
    padding-left: 25px;
  }
}

.treeLink {
  display: block;
  font-size: 15px;
  line-height: 1.15;
  padding-top: 10px;
  transition: color 0.15s;
  max-width: 150px;
  word-wrap: break-word;
}

.treeLink:hover {
  color: #636363;
}

.titleWhole {
  cursor: pointer;
}

.githubLink {
  font-family: var(--sans-font);
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  bottom: 20px;
  right: 40px;
  text-decoration: none;
}

.logo {
  width: 23px;
  height: auto;
  margin-bottom: -5px;
  stroke-width: 2px;
}

.floatingMenu {
  position: fixed;
  top: 15px;
  left: 15px;

  backdrop-filter: blur(5px);
  z-index: 5;

  background-color: rgba(0, 0, 0, 0.1);
  padding: 3px;
  padding-bottom: 0;
  border: 1px solid #808080;
  border-radius: 3px;
}

.menuDarken {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  display: none;
}

@media (max-width: 590px) {
  .menuDarken {
    display: block;
    position: absolute;
  }
}
